@font-face {
   font-family: LotaGrotesque-Regular;
   src: url("/Fonts/LotaGrotesque-Regular.ttf");
}


@font-face {
   font-family: myFirstFont;
   src: url(sansation_light.woff);
}

@font-face {
   font-family: myFirstFont;
   src: url(sansation_light.woff);
}

@font-face {
   font-family: myFirstFont;
   src: url(sansation_light.woff);
}

@font-face {
   font-family: myFirstFont;
   src: url(sansation_light.woff);
}











body{
    font-family: LotaGrotesque-Regular, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #667a93;
    margin-top: 50px;    

}
