@font-face {
   font-family: LotaGrotesque-Regular;
   src: url("/Fonts/LotaGrotesque-Regular.ttf");
}


@font-face {
   font-family: myFirstFont;
   src: url(sansation_light.woff);
}

@font-face {
   font-family: myFirstFont;
   src: url(sansation_light.woff);
}

@font-face {
   font-family: myFirstFont;
   src: url(sansation_light.woff);
}

@font-face {
   font-family: myFirstFont;
   src: url(sansation_light.woff);
}











a{
   text-decoration:none;
   color: #3f90dc;
}

h4{
   color: #3a4456;
   margin-left: 4px;
}

h2, h3{
   color: #3a4456;

}

body{
   font-family: LotaGrotesque-Regular, sans-serif;
   margin: 0;
   padding: 0;
   line-height: 2em;
   color: #667a93;
   font-size: 14px;;
   line-height: 22px;


}

.container{
   display: flex;
   justify-content: space-around;
   align-content: space-between;
   margin: auto;
}

.fest{
   width: 224px;
   margin: 20px;


}



.econd{
   width: 100%;
}

.nava{
   display: flex;
   align-items: center;

}

.nava>p{
   margin-left: 10px;
}

.dash{
   display: flex;
   align-items: center;
   justify-content: space-between;
   max-width: 100%;
   position: sticky;
   top: 0;
   background-color: #fff;
   z-index: 1;
}

.dash>h1{
   flex-grow: 1;
}

.tst,.hrl,.doct{
   display: flex;
   align-items: center;
}
.doct>a{
   margin: 10px;
}

.tst>p{
   margin: 10px;
}

.grv{
   width: 32px;
   height: 32px;
   margin-right: 16px;
   flex-shrink: 0;
   border-radius: 50%;
}

.unl{
   display: flex;
   background-color: #f6f9ff;
   padding: 20px;
}

.welt{
   display: flex;
   flex-direction: column;
   margin-right: 24px;
   flex: 0 0 310px;
   padding: 20px;
   position: relative;
}

.welt>div{
   border-radius: 6px;
   background-color: white;
   padding: 20px;
   padding-bottom: 0;

}

.nota{
   display: flex;
   margin-top: 24px;
   flex-grow: 1;
   flex-shrink: 1;
}

.nota>span{
   margin-top: -30px;
   margin-left: 10px;
}

#spnf{
   color: #3f90dc;: 
}

.yuia{
   display: flex;
   flex-direction: column;
}

.ola{
   display: flex;
   align-items: center;
   height: 88px;
   width: 100%;
   background: rgb(221, 221, 255);

}

.iolk{
   display: flex;
   margin-top: 14px;;
}

.iolk .rege>a:first-of-type{
   margin-top: 6px;;
}

.iolk .rege>a{
   margin-bottom: 0px;
}


.rege{
   position: relative;
   margin-bottom: 30px;
   padding-top: 20px;
   padding-right: 20px;
   padding-bottom: 20px;
   padding-left: 20px;
   display: flex;
   flex-direction: column;
   box-shadow: none;
   border-top: 1px solid rgb(235, 245, 255);
   border-right: 1px solid rgb(235, 245, 255);
   border-bottom: 1px solid rgb(235, 245, 255);
   border-left: 1px solid rgb(235, 245, 255);
   background: rgb(255, 255, 255);
   border-radius: 4px;
   flex: 1 1 109px;
   margin-left: 10px;
}

.lopj{
   display: flex;
   align-items: center;
   margin-bottom: -20px;
}

.lopj>svg{
   margin-right: 3px;
}



section>span{
   color: rgb(137, 150, 176);
   text-transform: uppercase;
   font-weight: 600;
   font-size: 14px;
}

.secr{
   border-radius: 4px;
   padding: 20px;
   margin: 10px;
   background-color: white;

}

.juju{
   position: absolute;
   bottom: 0px;
   left: 0px;
   border-bottom-left-radius: 4px;
   border-bottom-right-radius: 4px;
   width: 100%;
   height: 6px;
   background-color: rgb(149, 244, 233);
}


.jujuq{
   position: absolute;
   bottom: 0px;
   left: 0px;
   border-bottom-left-radius: 4px;
   border-bottom-right-radius: 4px;
   width: 100%;
   height: 6px;
   background-color: rgb(132, 132, 255);

}


.jujup{
   position: absolute;
   bottom: 0px;
   left: 0px;
   border-bottom-left-radius: 4px;
   border-bottom-right-radius: 4px;
   width: 100%;
   height: 6px;
   background-color: rgb(229, 240, 250);

}

.jujub{
   position: absolute;
   bottom: 0px;
   left: 0px;
   border-bottom-left-radius: 4px;
   border-bottom-right-radius: 4px;
   width: 100%;
   height: 6px;
   background-color: rgb(255, 219, 108);
}

.jujuc{
   position: absolute;
   bottom: 0px;
   left: 0px;
   border-bottom-left-radius: 4px;
   border-bottom-right-radius: 4px;
   width: 100%;
   height: 6px;
   background-color: rgb(175, 230, 255);

}

.hrl,.tst{
   padding-left: 30px;
   padding-right: 30px;;
}

.hrl>p{
   color: #3a4456;
}

#werh{
   height: 40px;
   padding-right: 20px;
   padding-left: 20px;
   font-size: 14px;
   font-weight: 600;
   display: flex;
   justify-content: center;
   align-items: center;
   white-space: nowrap;
   color: rgb(30, 107, 205);
   background-color: rgb(255, 255, 255);
   border-radius: 4px;
   border-width: 1px;
   border-style: solid;
   border-color: rgb(200, 223, 245);
   border-image: initial;
}

.ola>div{
   flex-grow: 1;
}

.homes{
   height:22px;
   width:22px;
   color: rgb(93, 93, 255);

}


@media only screen and (min-width: 1250px) {
	.olahid{
      display: none;
   }
}



@media only screen and (max-width: 1250px) {
	.ola{
      display: none;
   }

   .unl{
      display: flex;
      flex-direction: column
   }

   .welt{
      display: flex;
      flex-direction: row;
      width: 100%;
      flex: 0 0 0;
   }

   .olahid{
      display: flex;
      align-items: center;
      height: 88px;
      width: 100%;
      background: rgb(221, 221, 255);
   
   }

   .olahid>div {
      flex-grow: 1;
  }

  .nota{
     margin-top: 0;
     margin-left: 20px;
     margin-right: 20px;;
  }
  
}

@media only screen and (max-width: 1000px) {
   #juju{
      display: none
   }

}

@media only screen and (max-width: 800px) {

   .doct>a {
      margin: 3px;
  }

   .hrl {
      padding-left: 10px;
      padding-right: 10px;
  }

  .tst {
   padding-left: 0;
   padding-right: 0;
   }

   .rege{
      max-height: 200px;
      padding: 2px;
   }

   
}