@font-face {
   font-family: LotaGrotesque-Regular;
   src: url("/Fonts/LotaGrotesque-Regular.ttf");
}


@font-face {
   font-family: myFirstFont;
   src: url(sansation_light.woff);
}

@font-face {
   font-family: myFirstFont;
   src: url(sansation_light.woff);
}

@font-face {
   font-family: myFirstFont;
   src: url(sansation_light.woff);
}

@font-face {
   font-family: myFirstFont;
   src: url(sansation_light.woff);
}











body{
    font-family: LotaGrotesque-Regular, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 2em;
    color: #667a93;
    margin-top: 50px;    

}

.container{
   display: flex;
   justify-content: space-around;
   align-content: space-between;
}

.fest{
   width: 18%;
}

.econd{
   width: 78%;
}

.nava{
   display: flex;
}

.nava>p{
   margin-left: 10px;
}